* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  
  
}

main {
  display: flex;
  background-image: url("./assets/PageBackground.png");
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 40px;
}

.start-page {
  text-align: center;
}

.start-page h1 {
  font-family: Karla;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px;
}

.start-page p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin: 5px;
}
 button {
  background: #4D5B9E;
  color: white;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  margin-top: 30px;
  border: none;
}


.question-card p {
  font-family: Karla;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  color: #293264;
}

.question-card div {
  display: inline-block;
}

label {
  display: inline-block;
  margin: 2px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  border: 0.79px solid #4D5B9E;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 5px;
  margin-bottom: 2px;
}

.question-card hr {
  border: 0.5px solid #dbdef0;
  margin-top: 5px;
}


input[type="radio"] {
  display: none;
}

 input[type="radio"]:checked + label {
  background-color: #d6dbf5;
  outline: none;
}

.selected{
  background-color: #d6dbf5;
}

.correct{
  background-color: #94D7A2;
}

.incorrect{
  background: #F8BCBC;
}


@media (min-width: 600px) {
  body {
    justify-content: center;
    align-items: center;
  }

  main {
    width: 600px;
    height: 600px;
    border: 1px solid rgb(0, 0, 0);
  }
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.score-card{
  font-family: Inter;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 15.49px;
  color: #293264;
}